# base
notebook==5.4.1
jupyterhub==0.8.1
widgetsnbextension==3.1.0
ipywidgets==7.1.0
jupyterlab==0.31.0rc1
#
# data8; foundation
datascience==0.10.3
matplotlib==2.0.2
numpy==1.14.0
pandas==0.22.0
scipy==1.0.0
statsmodels==0.8.0
okpy==1.13.9
cython==0.27.3
nbgitpuller==0.3
git+https://github.com/data-8/nbresuse.git@2f9144f
#
# prob140; 
wheel==0.30.0
sympy==1.1.1
prob140==0.3.5.1
gsExport==0.9.10
#
# downgrade nbconvert
nbconvert<5
